@model CoPortal.Models.LectureNote
    @{
        ViewBag.Title = "DeleteLectureNote";
    }

<h2>Delete Lecture Note</h2>
<h3>Are you sure you want to delete these notes?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Course @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PdfLectureNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PdfLectureNote)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "Index")
        </div>
    }
</div>
