@model CoPortal.Models.Lecturer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lecturer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedCourses)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Course Name</th>
                    <th>Course Code</th>
                    <th>Course description</th>
                    <th>view Course</th>
                </tr>
                @foreach (var item in Model.AssignedCourses)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Course.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Course.Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.Course.Description)</td>
                        <td>@Html.ActionLink("view", "CourseDetails", new { item.Id })</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Assign new course", "Assign", new { id = Model.Id }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    @Html.ActionLink("Back to List", "Index")
</p>
