@model CoPortal.Models.Student

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1">
        <div class="card">
            <div class="card-title row gradientBg white-text valign-wrapper">
                <div class="col-xs-9">
                    <h4 style="color:grey">
                        CoPortal
                    </h4>
                </div>
                <div class="col-xs-3">
                    <h4>
                        Student
                    </h4>
                </div>
            </div>
            <div class="row card-content">
                <div class="col-xs-12">
                    <img class="img-responsive" style="width:100%" src="~/Content/img/slide/slide-03.jpeg" alt="Chicago">
                </div>
                <div class="col-sm-6">
                    <p>
                        <span class="title">@Html.DisplayNameFor(model => model.Name) : </span>
                        <span>@Html.DisplayFor(model => model.Surname) @Html.DisplayFor(model => model.Name)</span>
                    </p>

                    <p>
                        <span class="title">@Html.DisplayNameFor(model => model.StudentNumber) : </span>
                        <span>@Html.DisplayFor(model => model.StudentNumber)</span>
                    </p>
                </div>
                <div class="col-sm-6 right pull-right">
                    <p>
                        <span class="title">@Html.DisplayNameFor(model => model.Email) : </span>
                        <span>@Html.DisplayFor(model => model.Email)</span>
                    </p>
                    <p>
                        <span class="title">@Html.DisplayNameFor(model => model.DateOfBirth) : </span>
                        <span>@Html.DisplayFor(model => model.DateOfBirth)</span>
                    </p>
                    <p>
                        <span class="title">@Html.DisplayNameFor(model => model.IdNumber) : </span>
                        <span>@Html.DisplayFor(model => model.IdNumber)</span>
                    </p>
                </div>
            </div>
            <div class="row card-content">
                <div class="col-sm-12">
                    <table class="table">
                        <tr>
                            <th>Course Name</th>
                            <th>Course Code</th>
                            <th>Course description</th>
                            <th>Course paid for</th>
                            <th>view Course</th>
                        </tr>
                        @foreach (var item in Model.CourseEnrollments)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Course.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Course.Code)</td>
                                <td>@Html.DisplayFor(modelItem => item.Course.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.FeesPaid)</td>
                                <td>@Html.ActionLink("view", "CourseDetails", new { item.Course.Id })</td>
                            </tr>
                        }
                    </table>
                </div>

                <div class="col-xs-12">
                    @Html.ActionLink("Edit", "EditStudent", new { id = Model.Id }, new { @class = "gradientBorder" })
                </div>
            </div>

        </div>
    </div>
</div>



@*@model CoPortal.Models.Student

    @{
        ViewBag.Title = "Details";
    }

    <h2>Profile</h2>

    <div>
        <h4>Student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StudentNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StudentNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CourseEnrollments)
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Course Name</th>
                        <th>Course Code</th>
                        <th>Course description</th>
                        <th>Course paid for</th>
                        <th>view Course</th>
                    </tr>
                    @if (Model.CourseEnrollments != null)
                    {
                        foreach (var item in Model.CourseEnrollments)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Course.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Course.Code)</td>
                                <td>@Html.DisplayFor(modelItem => item.Course.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.FeesPaid)</td>
                                <td>@Html.ActionLink("view", "CourseDetails", new { item.Course.Id })</td>
                            </tr>
                        }
                    }

                </table>
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditStudent", new { id = Model.Id }) |
    </p>*@